.pokemon-list {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  margin: 3px;
  padding: 3px;
  width: 130px;
  min-width: 130px;
}

.pokedex-modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

.pokedex-modal {
  margin: auto;
  height: 228px;
  width: 228px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 2px blue solid;
}

.pokedex-modal-container-hide {
  display: none;
}

.button {
  float: right;
  border: 0;
  background: none;
  color: #ff0000;
  text-decoration: underline;
}

.font-navbar {
  font-size: 48px;
  color: black;
  font-weight: bold;
}
