.pokemon-list {
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  margin: 3px;
  padding: 3px;
  width: 160px;
  min-width: 160px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  float: right;
  border: 0;
  background: none;
  color: #ff0000;
  text-decoration: underline;
}

.font-navbar {
  font-size: 48px;
  color: black;
  font-weight: bold;
}
